/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  this tag  only Styles the body element */
body {
	margin: 20px;
    font-family: 'Arial', sans-serif;
    color: #0c0909;
    background-color:lightgray;
  
} 
.section-1{
	display: flex;
	height: 100%;
	height: 100%;
}
.container-section-1{
    display: flex;
    /* justify-content: center ;  this forces everything to the middle of the page
	so for now its commented out to see if i can control the speech 
	bubble exactly how i want */ 
    /* border: 5px solid black; */
	width: 100%;
	height: 75%;
	margin-left: 50px;
	
	/* justify-content: space-between; */
	


}
.container1{
    display: grid;
	justify-content: center;
	padding-left: 15px;
	width: 100%;
	/* margin-right: 5px; */
}
div.bubble{
	position: relative;
	width: 300px;
	text-align: center;
	line-height: 1.4em;
	margin: 40px auto;
	background-color:#323232 ;
	color: #EFEEEA;
	border: 8px solid #333;
	border-radius: 30px;
	font-family: sans-serif;
	padding: 20px;
	font-size: large;

}
div.bubble:before,
div.bubble:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
}

div.speech:before {
	left: 50px;
	bottom: -50px;
	border: 25px solid;
	border-color: #333 transparent transparent #333;
}

div.speech:after {
	left: 50px;
	bottom: -30px;
	border: 15px solid;
	border-color: #323232 transparent transparent #323232;
}

.details{
    display: flex;
	margin-top: 1rem;
	

    
}
.picture img{
    width: 95px;
    height: 95px;
    border-radius: 50px;
	margin-right: 1.2em;

  
}
.name-role{
	margin-top: 2em;
	
	
}
.name-role h3{
	font-size: 18px;
	margin: 0;
	margin-bottom: 2px;
	

}
.name-role p{
	font-size: 14px;
	margin: 0;
}
.container-section-2{
	display: flex;
    /* justify-content: center ;  this forces everything to the middle of the page
	so for now its commented out to see if i can control the speech 
	bubble exactly how i want */ 
    /* border: 5px solid black; */
	width: 100%;
	height: 100%;
	margin-top: 50px;
	margin-left: 170px;
	/* justify-content: space-between; */
	
}
.container2{
	display: grid;
	border:  5px solid black;
	border-radius: 50px;
	width: 350px;
	height: 350px;
	justify-content: center;

}
.container-text{
	display: flex;
	/* margin: 65px; */
	align-items: center;
	/* text-align: center; */
	
	font-size: larger;
	text-align: justify;
	
}

/* middle section of the testimonials  */
.middle-section{
	margin-top: 10%;
}
.outer-container{
	display: flex;
	width: 100%;
	
	margin-left: 50px;
	/* margin-right: 50px; */
	/* padding-left: 15px; */
	
}

.picture-container img{
	/* display: flex; */
	width: 350px;
	height: 350px;
	border-radius: 50px;
}

.review-stars {
	display: flex;
	
}

.review-container{
	display: grid;
	height: 350px;
	width:550px ;
	color: #EFEEEA;
	background-color: #323232;
	border-radius: 50px;
	margin-left: 20px; 
	justify-content:center;

	

}

.stars {
  margin-top: 40px;
	width: 25px;  
  height: 25px;
  aspect-ratio: 1;
  background: #F8CA00;
  clip-path: polygon(50% 0,
    calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
    calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn))) 
   ); 
  /* or more simple
  clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%); 
   */
}

.text-container{
	margin-bottom: 50px;
	font-size: larger;
	text-align: justify;
	line-height: 1.5;
}

.name-role-2 p{
	color: darkgray;
}

/* bottom section of the testimonials */
.bottom-section{
	margin-top: 10%;
}
.bottom-container{
	display: grid;
	border: 5px solid black;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
	margin-left: 50px;
}
.bottom-slider{
	display: flex;
	justify-content: center;
	align-items: center;

}
.bottom-text{
	display: flex;
	justify-content: center;
	text-align: justify;
	line-height: 1.7;
	font-weight:540;
	

}
.left-chevron{
	 --s: 50px; /* control the shape (can be percentage) */

	height: 220px;
	aspect-ratio: 3/5;
	clip-path: polygon(100% 0,calc(100% - var(--s)) 0,0 50%,calc(100% - var(--s)) 100%,100% 100%,var(--s) 50%);
	background: black;
	transform: scale(0.1); /* 60% of original size */
  	transform-origin: center;
}
.right-chevron{
	--s: 50px; /* control the shape (can be percentage) */

  height: 220px;
  aspect-ratio: 3/5;
  clip-path: polygon(0 0,var(--s) 0,100% 50%,var(--s) 100%,0 100%,calc(100% - var(--s)) 50%);
  background: black;
  transform: scale(0.1); /* 60% of original size */
  transform-origin: center;
}
.slider-profiles{
	display: flex;
}
.fading-image{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	opacity: 0.4;
	margin: 10px;
}
.bottom-image{
	width: 120px;
	height: 120px;
	border-radius: 50%;
}
.bottom-name{
	display: flex;
	justify-content: center;
	
}
.profile-name{
	display: grid;
}